table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: auto;
  margin-top:15px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 2000px;
}
